/*
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);
*/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; outline: none; }
body { font-family: Sans, sans-serif; -webkit-font-smoothing: antialiased; padding: 10px; margin: 0px; }
#command-list, #item-list, #badge-list { list-style-type: none; padding: 0px; border: 1px solid #666; }
#command-list li, #item-list li, #badge-list li { display: inline-block; font-size: 15px; text-align: center; margin: 3px; padding: 3px 10px; border: 1px solid #666; cursor: pointer; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; }
#badge-list { margin: 0px; padding: 0px; }
#badge-list li { display: none; width: 60px; }
#badge-list li.showup { display: inline-block; }
#status-list, #todo-list { border: 1px solid #666; }
#dayused, #energy, #damage { float: left; width: 100px; border: 1px solid #666; position: relative; margin: 3px; }
#dayused:after, #energy:after, #damage:after { content: "."; visibility: hidden; }
#dayused .level, #energy .level, #damage .level { width: 100%; text-align: center; color: #000; z-index: 20; position: absolute; }
#dayused .bar, #energy .bar, #damage .bar { z-index: 10; position: absolute; }
#dayused .bar { background-color: #9EF; }
#energy .bar { background-color: #0F0; }
#damage .bar { background-color: #F66; }
#dayused .bar:after, #energy .bar:after, #damage .bar:after { content: "."; visibility: hidden; }
#lastmsg, #badge-info { border: 1px solid #666; padding: 3px; }
.clear { clear: both; }
